
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color:darkgrey
  }


  
  /* Estiliza o cabeçalho com fundo vermelho e letras amarelas */
  header {
    background-color: #ff3b3f;
    color: #f6e214;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estiliza os links no cabeçalho */
  header a {
    color: #f6e214;
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
  }
  
  /* Estiliza o campo de pesquisa no cabeçalho */
  header input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    width: 200px;
  }
  
  
  /* Estilo do menu de navegação */
  .menus {
    float: left;
    margin-top: 10px;
  }

  
  /* Estilo do banner */
  .banner {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  .banner .banner-imagem {
    width: 70%;
    border: 20px double black;
    
  }

  p {
    font-family: 'Oxanium', cursive;
    font-size: 17px;
    font-weight: bolder;
  }

  h1 {
    font-family: 'Instrument Serif', serif;
    font-weight: bolder;;
    padding: 30px;
  }

  
  
  /* Estilo dos blocos de resumo */
  .historia__resumo, .personagens__resumo, .hogwarts__resumo, .feiticos__resumo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .historia__imagem, .personagens__imagem, .hogwarts__imagem, .feiticos__imagem {
    width: 200px;
    margin-right: 50px;
    border: 10px double black;
  }
  .historia__title, .personagens__title, .hogwarts__title, .feiticos__title {
    font-size: 42px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  .historia__descricao, .personagens__descricao, .hogwarts__descricao, .feiticos__descricao {
    font-size: 18px;
    line-height: 1.5;
  }
  
  /* Estilo do rodapé */
  footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
  }
  footer p {
    margin: 0;
    font-size: 14px;
  }
  