@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
*{
    margin: 0;
    padding: 0;

}

body {
    background: #02091C;
  }
h3 {
    color: gold;
    font-size: 60px;
    font-family: 'Harry Potter', sans-serif;
    cursor: pointer;
  }
  
  .menu {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    margin: 20px;
  
  }
  
  .menu ul li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .menu ul li::after {
    background-color: gold;
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -8px;
    left: 0;
    transform: s;
  }
  
  .menu ul li:hover::after {
    width: 100%;
  }